<!DOCTYPE html>
<html>
    <head>
        <h1>Register</h1>   
    </head>
    <body>
        <form action='/registerUser' method="POST">
            Username<br>
            <input type="text" name="username"><br>
            Email<br>
            <input type="text" name="email"><br>
            Password<br>
            <input type="password" name="password"><br>
            Confirm Password<br>
            <input type="password" name="confirm"> <br>
            <input type="submit">
        </form>
        <% if(pFail) { %>
            <br> Passwords don't match <br>
        <% } %>
        <% if(uFail) { %>
            <br> Username has already been taken <br>
        <% } %>
        <% if(eFail) { %>
            <br> Email has already been registered <br>
        <% } %>

      <a href="/login"><button>Login</button></a> 
    </body>
</html>